# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

dist/
build/
*.egg-info/

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# JetBrains IDE
.idea/

# Output
tutorial/output/*
output/*